.container
.row
.col-md-2.col-md-offset-4
  #loginform/
  %h3 Please Log In
  %p
  = form_tag sessions_path do 
    .field
      = label_tag :name
      %br
        = text_field_tag :name, params[:name]
    .field
      = label_tag :last_name
      %br
      = text_field :last_name, params[:last_name]
    .field
      = label_tag :email
      %br/
      = text_field_tag :email, params[:email]
    .field
      = label_tag :password
      %br/
      = password_field_tag :password
      = recaptcha_tags
    .actions= submit_tag "Log In"
  %p
    = link_to "Sign Up", signup_path
  .col.md-6


