.container-fluid
  .row
  .col-md-12
    #bookstitle You have #{@user.books.count} books in your library
    - if @books.empty?
      %span.text-warning You haven't added books yet!
    - else
    %table#mylibrary.display/
    %thead
      %tr
        %th Cover
        %th Title
        %th Description
        %th Author
        %th
        %th Status
        %th
    %tbody
      - @books.each do |book|
        %tr
          %td
            %img{:align => "center", :src => book.image_url, :vspace => "8", :width => 60, :height => 80}/
          %td= link_to book.title, book
          %td= truncate book.description, :length=>200
          %td= book.author
          %td= link_to 'Edit', edit_book_path(book), class: 'btn btn-default'
          %td
            - borrowed = book.get_borrowed
            - if book.is_borrowed?
              = button_to "Return book", borrowed, method: :patch, class: "btn", class: 'btn btn-success'
            - else
              %p Available
          %td= link_to "Delete", book, :method => :delete, :confirm => "Are you sure?", class: 'btn btn-danger'
